* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.user {
    width: 150px;
    height: 100px;
    border: 2px solid red;
    border-radius: 10px;

}

.user h4 p {
    font-size: 25px;
}

#box {
    display: flex;
    gap: 10px;

}